#top  {
   height: 250px;
   font: garamond Bold 20px;
   font-size: 20px;
   background-color: gold;
   text-align: center;
   margin: 20px;
   box-shadow: 15px 15px 15px #555;
   border-radius: 10px;ope
}

 .newsearch {
    margin-right: 30%;
}

#inputText {
   text-align: center;
   font-size:20px;
   margin:30px;
   border-radius: 10px 10px 10px #555;
}

#col-md-4 {
   font: 20px;
}
