#top  {
   height: 250px;
   background-color: gold;
   text-align: center;
   box-shadow: 20px 20px 20px #663;
   border-radius: 10px;
}

#newsearch {
   margin-top: 2%;
   font-size: 18px;
   font-style:italic;
}

.animated {
   animation-duration: 1.5s;
}

#inputText {
   text-align: center;
   font-size:160%;
   margin:20px;
}

#wordlist {
   font-size:20px;
}

#col-md-2-offset-md-9 {
   margin-top: 15px;
}
